[Desktop Entry]
Type=Application
Name=Escape Room beenden
Exec=/home/$USER/Smart-Home-Escape-Room-Workshop/stop_escape_room.sh
Terminal=false
Icon=/home/$USER/Smart-Home-Escape-Room-Workshop/stop_escape_room.png
StartupNotify=false
